{% extends 'cuberecords/base.html' %}
{% block content %}
            <div class="sectionName">
                <div class="name">Главная</div>
                <div class="idea">Маленькое начало большого пути.</div>
                <div class="author">Павел Долгов</div>
            </div>
            <div class="content">

                Кубик Рубика – это довольно распространенная головоломка, над разгадкой которой «бьется» ни одно поколение людей. Многие считают данную игрушку бесполезной, но их мнение крайне ошибочно. Кубик Рубика:
                <!--<a href="Buy.html"><img src="img/shop.png" alt="" class="shop"></a>-->
                <ol class="pluses">
                    <li>Развивает моторику рук</li>
                    <li>Стимулирует правильное развитие речи</li>
                    <li>Уменьшает время реакции</li>
                    <li>Улучшает память</li>
                    <li>Развивает целеустремленность</li>
                    <li>Повышает стрессоустойчивость</li>
                </ol>
                Кубик Рубика – это не только увлекательный досуг, но и ощутимая польза. Оцените его благоприятное воздействие на личном опыте!
                <div class="box">
                <a class="button" href="{% url 'preparation' %}">Начать</a>
                </div>
            </div>
{% endblock %}